<div class="scroll-container">
  <div class="topnav {{isNavOpen ? 'responsive' : ''}}" id="myTopnav">
    <button (click)="scrollToSection('introduction')">Introductie</button>
    <button (click)="scrollToSection('skills')">Skills</button>
    <button (click)="scrollToSection('projects')">Projecten</button>
    <button (click)="scrollToSection('work-experience')">Werkervaring</button>
    <button (click)="scrollToSection('hobbies')">Hobbies</button>
    <button (click)="scrollToSection('contact')">Contact</button>
    <!-- <button (click)="openContactList()">Contacten</button> -->
    <button class="icon" (click)="openNav()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <app-slideshow></app-slideshow>
  <app-introduction id="introduction"></app-introduction>
  <app-motorcycle></app-motorcycle>
  <app-skills id="skills"></app-skills>
  <app-husky></app-husky>
  <app-projects id="projects"></app-projects>
  <app-programming></app-programming>
  <app-work-experience id="work-experience"></app-work-experience>
  <app-formula1></app-formula1>
  <app-hobbies id="hobbies"></app-hobbies>
  <app-contact id="contact"></app-contact>
</div>
