html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
  overflow: hidden;
  color: #13383A;
}

body {
  background-color: #1b3141;
  margin: 0;
}

.fixed-bg {
  min-height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
