<section class="ProjectsSection">
  <div class="ProjectsContainer">
    <h2>Projecten</h2>
    <p>
      Op mijn <a href="https://github.com/Stef-Buurman" target="_blank">Github pagina</a> staan enkele projecten waar ik alleen of met anderen aan school of hobby projecten heb gewerkt.
      Daarnaast heb ik ook een leuk hobby project gemaakt voor mij en mijn vader als wij gaan motorrijden. Wij zijn sinds we onze motorrijbewijs hebben begonnen met het fotograferen onze motoren bij een molen.
      Hiervoor heb ik een website gemaakt waarin alle molens te vinden zijn met wat extra informatie en je de gemaakte foto kan uploaden.
      De website hiervan is <a href="https://molens.buurmans.info/" target="_blank">https://molens.buurmans.info</a>.
      Hiervan is de code ook te vinden op mijn github pagina.
    </p>
  </div>
</section>
