<section class="introductionSection">
  <div class="introduction">
    <h1 class="Title">Stef Buurman</h1>
    Mijn naam is Stef Buurman, ik ben  jaar oud.<br />
    Ik woon samen met mijn ouders en mijn hond genaamd Diye in Delft.<br />
    In mijn vrije tijd vind ik het leuk om te gamen, te sporten en motor te rijden.
  </div>
  <div>
    <div class="col-md-4">
      <ul class="info">
        <li><span class="first-block">Full Name:</span><span class="second-block">Stef Buurman</span></li>
        <li><span class="first-block">Phone:</span><span class="second-block">0611801450</span></li>
        <li><span class="first-block">Email:</span><span class="second-block">{{email}}</span></li>
        <li><span class="first-block">Website:</span><span class="second-block"><a href="http://Stef.Buurmans.info">Stef.Buurmans.info</a></span></li>
        <li><span class="first-block">Address:</span><span class="second-block">Koningin Emmalaan 44, 2628VS Delft.</span></li>
      </ul>
    </div>
  </div>
</section>
