.introductionSection {
  width: 100%;
  background-color: #00c260;
  text-align: left;
  padding: 10px 0 10px 0;
  height: 350px;
  font-size: 25px;
  justify-content: center;
  display: flex;
}

.introduction {
  width: 40%;
  margin:auto;
}

@media screen and (max-width: 950px) {
  .introduction {
    width: 60%;
    height: none;
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    width: 75%;
  }

  .introductionSection {
    height: auto;
  }
}
