<section class="introductionSection">
  <div class="introduction">
    Hey! Mijn naam is Stef Buurman en ben {{age}} jaar oud.
    Ik woon samen met mijn ouders en mijn hond genaamd Diye in Delft.
    In mijn vrije tijd vind ik het leuk om te gamen, te sporten en motor te rijden.
    Ik zit in het {{yearsOfStudy}} jaar opleiding Informatica op de Hogeschool Rotterdam.
  </div>
  <!--<div>
    <div class="col-md-4">
      <ul class="info">
        <li><span class="first-block">Full Name:</span><span class="second-block">Stef Buurman</span></li>
        <li><span class="first-block">Phone:</span><span class="second-block">0611801450</span></li>
        <li><span class="first-block">Email:</span><span class="second-block">{{email}}</span></li>
        <li><span class="first-block">Website:</span><span class="second-block"><a href="http://Stef.Buurmans.info">Stef.Buurmans.info</a></span></li>
      </ul>
    </div>
  </div>-->
</section>
