.ContactSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: #1B3141;
  color: #00C260;
  max-height: 80vh;
}

.Contact {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  border-radius: 12px;
}

.Contact p span{
    font-weight:700;
}
