.ContactSection {
  color: #00C260;
  width: 100%;
  background-color: #184649;
  text-align: left;
  padding: 100px 0 100px 0;
  font-size: 25px;
  justify-content: center;
  display: flex;
}

.Contact {
  width: 40%;
  margin: auto;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  button:hover {
    background: #0056b3;
  }

small {
  color: red;
}

select {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

  select:hover,
  select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }

  select option {
    font-size: 16px;
    padding: 10px;
  }

@media screen and (max-width: 1200px) {
  .Contact {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .Contact {
    width: 80%;
  }
}
