<section class="SkillsSection">
  <div class="skillsContainer">
    <div class="SoftSkillsContainer">
      <div class="SoftSkills">
        <h2>Soft skills</h2>
        <div class="listContainer">
          <ul>
            <li>Eerlijk</li>
            <li>Nieuwsgierig</li>
            <li>Nauwkeurig</li>
          </ul>
          <ul>
            <li>Samenwerken</li>
            <li>Zelfstandig</li>
            <li>Betrouwbaar</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="TechnicalSkillsContainer">
      <div class="TechnicalSkills">
        <h2>Technische skills</h2>
        <div class="listContainer">
          <ul>
            <li>Html - CSS</li>
            <li>C#</li>
            <li>Typescript - Javascript</li>
            <li>Yaml</li>
          </ul>
          <ul>
            <li>Python</li>
            <li>PHP</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
