.fixed-bg {
  background-image: url('../../../public/Assets/Images/Background/Leafbackground.png');
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  box-shadow: inset 0 0 0 1000px rgba(3, 30, 6,.2);
}

#slideshow {
  overflow: hidden;
  height: 75vh;
  width: 100%;
  margin: -75vh auto 0;
  z-index: 1;
  position: relative;
}
.slide-number{
    margin-top:60px;
}

.slide {
  float: left;
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.slide-wrapper {
  width: calc(100vw * 4);
  animation: slide 40s ease infinite;
}

.slide:nth-child(1) {
  background-image: url('../../../public/Assets/Images/Mijzelf/Foto1.jpg');
  background-size: contain;
}

.slide:nth-child(2) {
  background-image: url('../../../public/Assets/Images/Mijzelf/Foto2.jpg');
  background-size: contain;
}

.slide:nth-child(3) {
  background-image: url('../../../public/Assets/Images/Mijzelf/Foto3.jpg');
  background-size: contain;
}

.slide:nth-child(4) {
  background-image: url('../../../public/Assets/Images/Mijzelf/Foto4.jpg');
  background-size: contain;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-100vw * 1);
  }

  60% {
    margin-left: calc(-100vw * 2);
  }

  80% {
    margin-left: calc(-100vw * 3);
  }
}
@media screen and (max-width: 900px) {
  .fixed-bg {
    min-height: 40vh;
  }

  #slideshow {
    height: 37.5vh;
    margin: -37.5vh auto 0;
  }

  .slide {
    height: 35vh;
  }
}
