.fixed-bg {
  background-image: url("../../../public/Assets/Images/Background/Leafbackground.png");
  min-height: 80vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(3, 30, 6, 0.2);
}

.slideshow {
  overflow: hidden;
  height: 75vh;
  width: 100%;
  margin-top: -75vh;
  position: relative;
}

.slide-track {
  display: flex;
  height: 100%;
  transition: transform 2.5s ease-in-out;
  will-change: transform;
}

.slide {
  min-width: 100vw;
  height: 92%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 900px) {
  .fixed-bg {
    min-height: 40vh;
  }

  .slideshow {
    height: 37.5vh;
    margin-top: -37.5vh;
  }
}
