.ContactSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: #1B3141;
  color: #00C260;
  max-height: 80vh;
}

.Contact {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  border-radius: 12px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

  .contact-table th, .contact-table td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
  }

  .contact-table th {
    font-weight: bold;
  }

  .contact-table td {
    /*background-color: #fafafa;*/
  }

  .contact-table a {
    color: #007bff;
    text-decoration: none;
  }

    .contact-table a:hover {
      text-decoration: underline;
    }

@media (max-width: 768px) {
  .contact-table {
    font-size: 14px;
  }

    .contact-table th, .contact-table td {
      padding: 0.8rem;
    }
}

.error{
    color:red;
}

.submit-button {
  margin-top: 10px;
}
