<section class="dialog-header">
  <span>Contact List</span>
  <div class="actions">
    <div (click)="onClose()" class="container-close-btn">
      <div class="circle">
        <div class="line one"></div>
        <div class="line two"></div>
      </div>
    </div>
  </div>
</section>
<section class="ContactSection">
  <div class="Contact">
    <div *ngIf="contacts.length > 0">
      <table class="contact-table">
        <thead>
          <tr>
            <th>Contact naam</th>
            <th>Bedrijfs naam</th>
            <th>Medewerkers aantal</th>
            <th>Bedrijfs info</th>
            <th>Email</th>
            <th>Telefoonnummer</th>
            <th>Extra info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
            <td>{{ contact.company }}</td>
            <td>{{ contact.employeeCount | employeeEnum }}</td>
            <td>{{ contact.companyInformation }}</td>
            <td>{{ contact.email }}</td>
            <td *ngIf="contact.phone">{{ contact.phone }}</td>
            <td>{{ contact.message }}</td>
            <td class="DeleteTD"><Button class="default-button" (click)="deleteContact(contact.id)">Delete</Button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="contacts.length === 0 && sendRequest">
      <p>No contacts available.</p>
    </div>

    <div *ngIf="contacts.length === 0 && !sendRequest">
      <form (ngSubmit)="getContacts()" #apiKeyForm="ngForm">
        <div>
          <label for="apiKey">API Key: </label>
          <input type="text"
                 id="apiKey"
                 name="password"
                 [(ngModel)]="apiKey"
                 autocomplete="off"
                 required
                 #apiKeyInput="ngModel">
        </div>
        <div *ngIf="apiKeyInput.invalid && apiKeyInput.touched">
          <p class="error">API Key is required.</p>
        </div>
        <button class="default-button submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
