<section class="HobbiesSection">
  <div class="HobbiesContainer">
      <h1>Hobbies</h1>
      <ul>
        <li>
          <img src="Assets/Images/Hobbies/Gaming.svg" alt="Gaming" class="hobby-icon">
          <div>
            <span class="hobby-title">Gaming</span>
            <div class="hobby-description">Ik vind het leuk om te gamen in mijn vrije tijd.</div>
          </div>
        </li>
        <li>
          <img src="Assets/Images/Hobbies/Motorcycle.svg" alt="Motorcycline" class="hobby-icon">
          <div>
            <span class="hobby-title">Motorcycling</span>
            <div class="hobby-description">Als het mooi weer is ben ik te vinden op mijn motor.</div>
          </div>
        </li>
        <li>
          <img src="Assets/Images/Hobbies/Gym.svg" alt="Gym" class="hobby-icon">
          <div>
            <span class="hobby-title">Sports</span>
            <div class="hobby-description">Om fit te blijven en mijn energie kwijt te raken sport ik elke week.</div>
          </div>
        </li>
        <li>
          <img src="Assets/Images/Hobbies/Racing.svg" alt="Racing" class="hobby-icon">
          <div>
            <span class="hobby-title">Racen</span>
            <div class="hobby-description">Ik vind het leuk om te karten, maar bijvoorbeeld ook om online te racen.</div>
          </div>
        </li>
      </ul>
  </div>
</section>
